name: Web App Publish

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Kodlari Cek
      uses: actions/checkout@v4

    - name: Python Kur
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Flet Yukle
      run: |
        pip install flet

    - name: Web Sitesini Hazirla (Otomatik Mod)
      run: |
        # BURAYA DOKUNMA! 
        # Bu kod proje ismini otomatik bulur ve HTML modunda hizli acilmasini saglar.
        flet publish main.py --base /${{ github.event.repository.name }}/ --renderer html

    - name: Dosyalari Yukle
      uses: actions/upload-pages-artifact@v3
      with:
        path: dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Yayinla
      id: deployment
      uses: actions/deploy-pages@v4
